[Desktop Entry]
Name=Teams
Comment=Unofficial Client for Teams
GenericName=Microsft Teams Client
Exec=teams
Icon=teams-for-linux
Type=Application
StartupNotify=true
StartupWMClass=Teams
Categories=Network;
Keywords=teams;
Terminal=false
